<template name="home">
  <div class="blue_bg">
    <div class="row">
      <div class="small-12 medium-4 large-4 columns">
        <h1>Sign-Up Now</h1>
        <form>
          <input class="big" id="email" placeholder="email">
          <input class="big" placeholder="password" type="password">
          <button class="big_button green_bg">Welcome</button>
        </form>
      </div>

      <div class="small-12 medium-6 large-6 columns">
        <h1>Big Text</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button class="big_button green_bg">Learn More</button>
        <!--    TODO: Add scroll to mid-section    -->
      </div>
    </div>
  </div>

  <div class="light_bg">
    <div class="row">
      <div class="columns">
        <h1>Awesome Copy</h1>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-4 large-4 columns">
        <div class="genericon genericon-user big_icon small-centered"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="small-12 medium-4 large-4 columns">
        <div class="genericon genericon-picture big_icon small-centered"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="small-12 medium-4 large-4 columns">
        <div class="genericon genericon-digg big_icon small-centered"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>

</body>

</template>